@{
    ViewData["Title"] = "Quadrants";
}

@*@model List<FormResponses>*@

<h1 class="text-center">Quadrants</h1>
<br />

@*<table class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td>Quadrant</td>
                <td>Category</td>
                <td>Task</td>
                <td>Due Date</td>
                <td>Complete</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Category.CategoryName</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>s
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Delete</a></td>
                </tr>
            }
        </tbody>

    </table>*@

<!--<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Task</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Complete?</td>-->
            <!--Do I need to change the table to make it a quadrant based view. How do I make column names on the left side?-->
        <!--</tr>
    </thead>

    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>i.task</td>
                <td>i.date</td>
                <td>i.quadrant</td>
                <td>i.category</td>
                <td>i.complete</td>

                <td><a asp-controller="Home" asp-action="Edit">Edit</a></td>
            </tr>
        }

    </tbody>
</table>-->


<div class="line">
    <div class="col-md-6 quad" style="background-color:blue;">Quadrant 1</div>
    <div class="col-md-6 quad" style="background-color:red;">Quadrant 2</div>



    <div class="col-md-6 quad" style="background-color:yellow;">Quadrant 3</div>
    <div class="col-md-6 quad" style="background-color:green;">Quadrant 4</div>
</div>